body {
  background-color: #25283d;
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  color: #81b29a;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
}
.container {
  background: #f4f1de;
  max-width: 650px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 1px #445f52;
}
.subject {
  background-color: #dee0ec;
  border: none;
  color: rgba(74, 87, 89);
  font-size: 15px;
  padding: 10px;
  width: 82%;
  border-radius: 6px;
  margin: 0 auto;
}
.submitButton {
  margin-left: 5px;
  font-size: 15px;
  background-color: #5c836f;
  color: white;
  border: none;
  padding: 10px;
  line-height: 1;
  border-radius: 10px;
  text-align: center;
}
.book {
  margin-top: 30px;
  line-height: 25px;
  padding: 20px;
  max-width: 100%;
  text-align: justify;
  color: rgb(23, 44, 46);
}
.hidden {
  display: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
footer {
  border-top: 1px solid #25283d;
  text-align: center;
  padding-top: 15px;
  color: #f4f1de;
  font-size: small;
}
a {
  color: #81b29a;
}
